$footerHeight: 73px;

html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: $footerHeight;
}
footer {
    &.footer {
        bottom: 0;
        height: $footerHeight;
        margin: unset;
        padding: unset;
        position: absolute;
    }
}